<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta icon="utf-8">
  
  <meta name="title" content="Corona virus covid`19 Tracker India|China|United State|Italy">
  <meta name="description" content="Live|Latest Covid-19 | COVID-19 continuing to impact people around the World, visit Coronaviruseseffect.com to know about Confirmed Cases & Deaths. Corona Virus effect World Countries|India by state|Details of people died|Latest news update|Prediction">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="1 days">
  <meta name="author" content="Corona virus covid-19 tracker">
  
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q=1280549780">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dataTables/dataTables.bootstrap.css') }}?q=1280549780">
    
  
	<title>COVID-19 Tracker</title>
</head>
<body>
	
  <br>
  <center><h4>COVID-19 Tracker</h4></center>
  <hr>

  <center>
   <ul class="list-inline nav-list pt-0 mt-0 p-0">
    <li class="list-inline-item nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="list-inline-item nav-item">
      <a class="nav-link" href="/country/India">India</a>
    </li>
    <li class="list-inline-item nav-item">
      <a class="nav-link" href="/top-10">Top 10</a>
    </li>
    <li class="list-inline-item nav-item">
      <a class="nav-link" href="/bottom-10" style="font-weight: bold!important;">Bottom 10</a>
    </li>
     <li class="list-inline-item nav-item">
     <a class="nav-link" href="/articles">Articles</a>
    </li>
    
  </ul>
  </center>
   <hr>
 






<div class="corona-detail-panel m-3 mt-1">
       
       <div class="corona-table mt-3  table-responsive pl-3 pr-3">
       

<table class="table table-striped " id="coronatab" width="100%">
  <thead class="grey ">
    <tr>
      <th scope="col" >Country</th>
      <th scope="col" >Confirmed</th>
      <th scope="col" >Active</th>
      <th scope="col" >Deaths</th>
      <th scope="col" >Recovered</th>
    </tr>
  </thead>
  <tbody>
    {% for bottom_10_datas in bottom_10_datas %}
    <tr>
     
      <th scope="row">{{ bottom_10_datas.country }}</th>
      <td>{{ bottom_10_datas.confirmed }}</td>

      <td>{{ bottom_10_datas.active }}</td>
      
      <td>{{ bottom_10_datas.deaths }}</td>

      <td>{{  bottom_10_datas.recovered  }}</td>
      
    </tr>
    {% endfor %}
  
   
  </tbody>
</table>
       </div>
    </div>



 
</body>


    
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

   <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

   <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" ></script>

   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


  


<script>
	$(document).ready(function(){


    $('#coronatab').DataTable({


    "scrollX": true,
    // "scrollY": "50vh",
    "scrollCollapse": true,
    "select" : false,
     "info": true,         // Will show "1 to n of n entries" Text at bottom
    "lengthChange": false,
 
     "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
    "pageLength": 100

  });
    $('.dataTables_length').addClass('bs-select');
	 }); 

 


	
</script>
</html>